div, body {
  padding: 0;
  border: 0;
  margin: 0;
}
#container-for-title-and-board {
  background-color: black;
}
#title-west {
  background-color: cyan;
  display: none;
}
#title-north {
  background-color: blue;
}
#board-area {
  background-color: grey;
}
#info-south {
  background-color: red;
}
#info-east {
  background-color: pink;
  display:none;
}
