body {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: black;
}
button {
  background-color: black;
}
a:link { 
  color: #0f0;
}
a:visited {
  color: green;
}
a:hover {
  color: green;
}
.instructions {
  color: white;
  font-family: Verdana, Arial, sans-serif;
}
.link {
  text-align: right; /* Move link away from board to avoid accidentally touching it and discarding a game in progress */
  font-family: Courier, monospace;
}
#div-outer-vertical-flexbox {
  display: flex;
  flex-direction: column;
  background-color: black;
}
#div-inner-horizontal-flexbox {
  display: flex;
  flex-direction: row;
  order: 2;
}
#div-title-north {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  order: 1;
}
#div-title-west {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  order: 1;
  display: none;
}
#div-board-area {
  order: 2;
  display: inline;
}
#checkerboard-background {
  z-index: 2;
}
#div-box-of-columns {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  left: 0px;
  top: 0px;
}
.class-column-of-tiles {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
.tile1 {
  flex: 1;
  background-color: #301500;
}
.tile2 {
  flex: 1;
  background-color: #452200;
}
#div-info-east {
  order: 3;
  display: none;
}
#div-info-south {
  order: 3;
}
#div-logo-west {
  order: 1;
  flex: 4;
}
#button-new-game-west {
  order: 2;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
}
#button-full-screen-expand-west {
  order: 3;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
}
#button-full-screen-contract-west {
  order: 3;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
  display: none;
}
#div-logo-north {
  order: 1;
  flex: 4;
}
#button-new-game-north {
  order: 2;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
}
#button-full-screen-expand-north {
  order: 3;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
}
#button-full-screen-contract-north {
  order: 3;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
  display: none;
}
