body {
  padding: 0;
  border: 0;
  margin: 0;
}
#div-container-for-title-and-board {
  background-color: black;
}
#div-title-west {
  background-color: cyan;
  display: none;
}
#div-title-north {
  background-color: blue;
}
#div-board-area {
  background-color: grey;
  display: inline;
}
#div-info-south {
  background-color: red;
}
#div-info-east {
  background-color: pink;
  display:none;
}
#button-logo-west{
  width: 100%;
}
#button-new-game-west{
  width: 100%;
}
#button-full-screen-west{
  width: 100%;
}
#button-logo-north{
  height: 100%;
}
#button-new-game-north{
  height: 100%;
}
#button-full-screen-north{
  height: 100%;
}
